body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.positive{
  color: green;
}
.negative{
  color: red;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


#chart{
	display:block;
	float:left;
	width:100%;
}

#cloud{
	display:block;
	float:left;
	width:100%;
}
#twitter{
  clear:both;
  width:900px;
  margin:0 auto;
}

#twitter img{
	margin-right:20px;
}

#cloud text:hover{
	cursor:pointer;
	opacity:0.5;
}

@media only screen and (min-width: 768px) { 
  #chart{
    display:block;
    float:left;
    width:50%;
  }

  #cloud{
    display:block;
    float:left;
    width:50%;
  }


}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
/* COURTESY OF Kyle Brumm OF http://codepen.io/kjbrum/pen/BraCg?editors=110 */
/* Universal styling */
[class^="shaft-load"] {
  margin: 50px auto;
  width: 60px;
  height: 30px;
}
[class^="shaft-load"] > div {
  float: left;
  background: #B96CFF;
  height: 100%;
  width: 5px;
  margin-right: 1px;
  display: inline-block;
}

[class^="shaft-load"] .shaft3 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* Shaft 3 */
.shaft-load3 {
  position: relative;
  width: 100px;
  height: 100px;
}
.shaft-load3 > div {
  background: transparent;
  border: 4px solid transparent;
  border-color: transparent transparent transparent #B96CFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(0);
  -moz-transform: translate(-50%, -50%) rotate(0);
  -ms-transform: translate(-50%, -50%) rotate(0);
  -o-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: loading3 2s infinite ease-in-out;
  -moz-animation: loading3 2s infinite ease-in-out;
  -o-animation: loading3 2s infinite ease-in-out;
  animation: loading3 2s infinite ease-in-out;
}
.shaft-load3 .shaft1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  width: 20px;
  height: 20px;
}
.shaft-load3 .shaft2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  width: 25px;
  height: 25px;
}
.shaft-load3 .shaft3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  width: 30px;
  height: 30px;
}
.shaft-load3 .shaft4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
  width: 35px;
  height: 35px;
}
.shaft-load3 .shaft5 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 40px;
  height: 40px;
}
.shaft-load3 .shaft6 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  width: 45px;
  height: 45px;
}
.shaft-load3 .shaft7 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  width: 50px;
  height: 50px;
}
.shaft-load3 .shaft8 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  width: 55px;
  height: 55px;
}
.shaft-load3 .shaft9 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
  width: 60px;
  height: 60px;
}
.shaft-load3 .shaft10 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  width: 65px;
  height: 65px;
}

@-webkit-keyframes loading3 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: transparent transparent rgba(86, 215, 198, 0.1) #56D7C6;
  }
  75% {
    border-color: rgba(86, 215, 198, 0.1) transparent transparent #56D7C6;
  }
}
@-moz-keyframes loading3 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: transparent transparent rgba(86, 215, 198, 0.1) #56D7C6;
  }
  75% {
    border-color: rgba(86, 215, 198, 0.1) transparent transparent #56D7C6;
  }
}
@-o-keyframes loading3 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: transparent transparent rgba(86, 215, 198, 0.1) #56D7C6;
  }
  75% {
    border-color: rgba(86, 215, 198, 0.1) transparent transparent #56D7C6;
  }
}
@keyframes loading3 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: transparent transparent rgba(86, 215, 198, 0.1) #56D7C6;
  }
  75% {
    border-color: rgba(86, 215, 198, 0.1) transparent transparent #56D7C6;
  }
}

/**** COURTESY OF NICHOLAS GALLAGHER 
http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
**/
/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
  position:relative;
  max-width:800px;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.positive {
  margin-left:30px;
  border:5px solid #5CB85C !important;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.negative {
  margin-right:30px;
  border:5px solid #d9534f !important;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border.negative:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#d9534f transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.triangle-border.positive:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5CB85C transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
